<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AJAX Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
    $(document).ready(function () {
		$('.new-item').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("NewItem")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
               
                    $('#newItemResultText').html('Added');
                }
            });
        });
	});
			
</script>		
</head>
<body>
		
	<h2>Add a new Item</h2>
    <form action="NewItem" class="new-item">
			
        <label for="ItemName">Item Name: </label>
        <input type="text" name="ItemName" />
			
        <label for="ItemDescription">Item Description: </label>
        <input type="text" name="ItemDescription" />

        <label for="ItemPrice">Item Price: </label>
        <input type="number" name="ItemPrice" />

		 <label for="SalesAssociateId">SA ID: </label>
        <input type="number" name="SalesAssociateId" value="0" />
			
        <button type="submit">Submit</button>
    </form>
    <div id="newItemResultText"></div>
		
</body>
</html>